@model IEnumerable<Case_2.Models.RepositoryViewModel>

@{
    ViewData["Title"] = "List Repository";
}

<h1 class="h3 mb-2 text-gray-800">List Repository</h1>

<div class="row" id="app-repo">
    <div class="col-xl-3 col-md-6 mb-4"  v-for="item in repository">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.name}}</div>
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            {{item.language}}
                        </div>
                        <a v-bind:href="'/home/issue/' + item.name" class="card-link">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
<script  type="text/javascript">
    new Vue({
        el: "#app-repo",
        data() {
            return {
                repository: {
                    name: "",
                    language: "",
                    description: "",
                    full_name: "",
                }
            }
        },
        mounted() {
            this.getRepo();
        },
        methods: {
            getRepo() {
                axios.get("/api/repository").then(response => {
                    this.repository = response.data
                }).catch(error => {
                    console.log(error)
                });
            }
        }
    })
</script>
}
